body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}


.container{
    width: 80%;
    margin: auto;
}


h1{
    padding: 10px;
    color: teal;
}

.mainbox{
    background-color: #808080;
    color: #fff;
    padding: 20px;
    margin: 0 auto
    

}

input[type='text']{
    width: 97%;
    padding: 5px;
}

select[name="IssueSeverityInput"]{
    width: 99%;
    padding: 5px;
}


button[type='Submit']{
    padding: 5px;
    width: 7%;
    background-color: #008080;
    color: #fff;
    border-radius: 3px;
}

.footer p{
    margin-left: 135px;
    font-style: italic;
    font-size: 12px;
}